.second_page_main_container{
    /* border: 2px solid yellow; */
    height: 700px;
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content:center ;
    align-items: center;
    position: relative;
}

.lower_div{
    background-color: black;
    width: 100%;
    height: 20%;
    position: absolute;
    top: 550px;
}