.fifth_page-main-cont{
    height: 700px;
    width: 100%;
    background-image: url(https://web-images.credcdn.in/_next/assets/images/home-page/money-matters-bg.jpg);
    background-size: cover;
    padding: 100px 150px;
}

.fifthpage-inner_container{
    /* border: 2px solid black; */
    height: 500px;
    width: 600px;
    display: flex;
    flex-direction: column;
   
}

.fifthpage-one{
    /* border: 2px solid blue; */
    height: 40%;
    width: 100%;
    color: white
}


.fifthpage-one h1{
    font-size: 50px;
}

.fifthpage-one h4{
    font-size: 30px;
}
.fifthpage-two{
    /* border: 2px solid blue; */
    height: 20%;
    width: 100%;
}

.fifthpage-three{
    /* border: 2px solid blue; */
    height: 40%;
    width: 100%;
    /* color: white; */
    display: flex;
    flex-direction: column;
}

.fifthpage-para_cont{
    /* border: 2px solid blue; */
    height: 60%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.fifthpage-button_cont{
    /* border: 2px solid blue; */
    height: 40%;
    width: 100%;
}

.fifthpage-button_cont button{
    height: 50px;
    width: 300px;
    border-radius: 32px;
    border: none;
}